

#root
{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
label
{
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
  color: white;
}
input[type="text"],input[type="email"],input[type="number"],input[type="data"]
{
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.4285;
  color: white;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}
h1,h2
{
  color:white
}
.error
{
  color: red;
  font-size: 12px;
  text-align: left;
}
.form-control
{
  margin-bottom: 20px;
}
.form-control-check
{
  display: flex;
  align-items: center;
  justify-content: space-around;
}